<a href="https://colab.research.google.com/github/eduard0buarque/datascience/blob/main/orcamento/02_analise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from google.colab import drive
from datetime import date

%matplotlib inline

drive.mount('/content/drive')
#https://realpython.com/pandas-groupby/
#https://realpython.com/pandas-merge-join-and-concat/

Mounted at /content/drive

In [2]:
COLUNA = 1

### Estudando os atendimentos

In [7]:
caminho = '/content/drive/My Drive/Datascience/orcamento/dataset/tratado/'

def le_planilha(planilha_dados, separador = ",", decimais = ",", encode='utf-8'):
  df_dados = pd.read_csv(caminho + planilha_dados, decimal=decimais, sep=separador, encoding=encode)
  return df_dados

In [4]:
def qtd_atendimentos_anteriores(cod_paciente, data_internacao):
  df_temp = df_atendimentos[df_atendimentos.CD_PACIENTE == cod_paciente]
  return df_temp[df_temp.DH_ATENDIMENTO_INT < data_internacao].count()[0]

In [5]:
def cria_planilha(dataframe, nome, caminho):
  dataframe.to_csv(caminho + nome)

In [6]:
df_atendimentos = le_planilha('atendimento.csv')

In [ ]:
df_atendimentos.head()

,Unnamed: 0,CD_PACIENTE,CD_ATENDIMENTO_INT,DH_ATENDIMENTO_INT,CD_CONVENIO_INT,DH_ALTA_INT,CD_ATENDIMENTO_URG,DH_ATENDIMENTO_URG,CD_CONVENIO_URG,DH_ALTA_URG
0,0,3,3912301,2022-06-08 17:53:30,53,2022-06-09 15:00:00,3910658,2022-06-08 12:18:17,53,2022-06-08 17:50:49
1,1,1071,3462858,2022-01-09 22:58:17,5,2022-01-15 20:50:45,3462758,2022-01-09 20:47:51,5,2022-01-09 22:57:08
2,2,1520,4401673,2022-11-14 15:09:00,5,2022-11-16 17:07:54,4399386,2022-11-14 08:07:40,5,2022-11-14 14:59:00
3,3,3067,3523351,2022-01-27 21:34:00,48,2022-01-30 16:26:05,3522814,2022-01-27 16:32:54,48,2022-01-27 21:32:37
4,4,3935,4071446,2022-07-29 20:50:51,6,2022-08-04 14:20:00,4071254,2022-07-29 17:56:39,6,2022-07-29 20:46:45

In [ ]:
df_atendimentos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12124 entries, 0 to 12123
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          12124 non-null  int64
 1   CD_PACIENTE         12124 non-null  int64
 2   CD_ATENDIMENTO_INT  12124 non-null  int64
 3   DH_ATENDIMENTO_INT  12124 non-null  object
 4   CD_CONVENIO_INT     12124 non-null  int64
 5   DH_ALTA_INT         12124 non-null  object
 6   CD_ATENDIMENTO_URG  12124 non-null  int64
 7   DH_ATENDIMENTO_URG  12124 non-null  object
 8   CD_CONVENIO_URG     12124 non-null  int64
 9   DH_ALTA_URG         12124 non-null  object
dtypes: int64(6), object(4)
memory usage: 947.3+ KB

###Transformando as colunas DATA em Pandas Datetime

In [ ]:
def converte_para_datetime(dataset, colunas):
  for coluna in colunas:
    dataset[coluna] = pd.to_datetime(dataset[coluna])

In [ ]:
colunas_data = ['DH_ATENDIMENTO_INT', 'DH_ALTA_INT', 'DH_ATENDIMENTO_URG', 'DH_ALTA_URG']
converte_para_datetime(df_atendimentos, colunas_data)

In [ ]:
df_atendimentos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12124 entries, 0 to 12123
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          12124 non-null  int64
 1   CD_PACIENTE         12124 non-null  int64
 2   CD_ATENDIMENTO_INT  12124 non-null  int64
 3   DH_ATENDIMENTO_INT  12124 non-null  datetime64[ns]
 4   CD_CONVENIO_INT     12124 non-null  int64
 5   DH_ALTA_INT         12124 non-null  datetime64[ns]
 6   CD_ATENDIMENTO_URG  12124 non-null  int64
 7   DH_ATENDIMENTO_URG  12124 non-null  datetime64[ns]
 8   CD_CONVENIO_URG     12124 non-null  int64
 9   DH_ALTA_URG         12124 non-null  datetime64[ns]
dtypes: datetime64[ns](4), int64(6)
memory usage: 947.3 KB

In [ ]:
df_atendimentos.drop('Unnamed: 0', inplace=True, axis=COLUNA)

In [ ]:
df_pacientes = df_atendimentos.groupby(['CD_PACIENTE'])['CD_ATENDIMENTO_INT'].count()
df_pacientes.max()

27

In [ ]:
df_pacientes[df_pacientes ==27]

CD_PACIENTE
1097146    27
Name: CD_ATENDIMENTO_INT, dtype: int64

In [ ]:
df_teste_atend = df_atendimentos[df_atendimentos.CD_PACIENTE==1097146]
df_teste_atend.head(30).sort_values(by='DH_ATENDIMENTO_INT')

,CD_PACIENTE,CD_ATENDIMENTO_INT,DH_ATENDIMENTO_INT,CD_CONVENIO_INT,DH_ALTA_INT,CD_ATENDIMENTO_URG,DH_ATENDIMENTO_URG,CD_CONVENIO_URG,DH_ALTA_URG
4141,1097146,3516811,2022-01-26 09:09:22,41,2022-01-27 15:01:08,3515872,2022-01-26 02:21:17,41,2022-01-26 09:07:51
4142,1097146,3634679,2022-03-10 23:43:12,41,2022-03-11 10:48:36,3634257,2022-03-10 17:44:53,41,2022-03-10 23:40:27
4143,1097146,3751545,2022-04-20 02:32:48,41,2022-04-20 14:13:21,3751513,2022-04-20 00:24:44,41,2022-04-20 02:30:24
4144,1097146,3800878,2022-05-05 20:50:40,41,2022-05-06 14:14:50,3800602,2022-05-05 17:43:00,41,2022-05-05 18:15:00
4145,1097146,3842417,2022-05-18 21:00:45,41,2022-05-19 09:49:29,3842058,2022-05-18 17:26:01,41,2022-05-18 20:47:44
4146,1097146,3865229,2022-05-26 01:06:09,41,2022-05-26 09:25:58,3864976,2022-05-25 20:10:35,41,2022-05-26 01:03:42
4147,1097146,3903566,2022-06-06 17:04:47,41,2022-06-07 11:34:10,3902062,2022-06-06 12:36:25,41,2022-06-06 15:32:00
4148,1097146,3947296,2022-06-21 05:24:43,41,2022-06-21 13:05:39,3947272,2022-06-21 03:10:53,41,2022-06-21 05:24:11
4149,1097146,3994380,2022-07-05 13:29:06,41,2022-07-06 15:31:35,3993682,2022-07-05 10:54:43,41,2022-07-05 13:28:34
4150,1097146,4025975,2022-07-14 18:06:01,41,2022-07-15 14:19:40,4025541,2022-07-14 16:05:39,41,2022-07-14 18:04:45
4151,1097146,4055558,2022-07-25 13:28:31,41,2022-07-26 12:53:54,4054942,2022-07-25 11:00:27,41,2022-07-25 13:27:08
4152,1097146,4088173,2022-08-04 15:32:18,41,2022-08-05 15:16:38,4087224,2022-08-04 12:07:54,41,2022-08-04 15:26:57
4153,1097146,4122604,2022-08-16 15:10:04,41,2022-08-17 13:47:44,4121690,2022-08-16 12:06:14,41,2022-08-16 15:00:16
4154,1097146,4174280,2022-09-01 15:42:36,41,2022-09-01 22:14:16,4173299,2022-09-01 12:02:57,41,2022-09-01 15:41:36
4155,1097146,4214767,2022-09-15 14:04:35,41,2022-09-16 14:22:38,4214140,2022-09-15 11:37:06,41,2022-09-15 14:04:23
4156,1097146,4259197,2022-09-29 16:43:41,41,2022-09-30 12:57:28,4258074,2022-09-29 12:37:11,41,2022-09-29 16:40:58
4157,1097146,4300754,2022-10-13 15:26:20,41,2022-10-14 20:40:00,4299902,2022-10-13 12:47:30,41,2022-10-13 15:23:44
4158,1097146,4333678,2022-10-24 14:36:46,41,2022-10-25 13:25:47,4332739,2022-10-24 11:28:58,41,2022-10-24 14:26:52
4159,1097146,4361054,2022-11-01 15:49:19,41,2022-11-02 13:00:00,4359897,2022-11-01 11:50:29,41,2022-11-01 15:46:44
4160,1097146,4386633,2022-11-09 17:27:02,41,2022-11-10 09:55:31,4385722,2022-11-09 14:39:21,41,2022-11-09 17:26:38
4161,1097146,4407071,2022-11-16 14:01:50,41,2022-11-17 10:52:17,4406415,2022-11-16 11:49:24,41,2022-11-16 13:57:24
4162,1097146,4436907,2022-11-24 16:52:26,41,2022-11-25 12:35:30,4436689,2022-11-24 14:35:06,41,2022-11-24 16:28:29
4163,1097146,4459566,2022-12-01 16:04:36,41,2022-12-02 10:07:42,4458538,2022-12-01 12:41:16,41,2022-12-01 15:57:26
4164,1097146,4480617,2022-12-08 15:18:55,41,2022-12-09 10:16:37,4479670,2022-12-08 12:06:34,41,2022-12-08 15:15:05
4165,1097146,4501869,2022-12-15 14:48:10,41,2022-12-16 11:45:00,4501122,2022-12-15 11:59:54,41,2022-12-15 14:32:43
4166,1097146,4521592,2022-12-22 12:05:46,41,2022-12-23 11:07:24,4521170,2022-12-22 10:25:26,41,2022-12-22 10:49:00
4167,1097146,4536647,2022-12-29 12:59:37,41,2022-12-30 14:56:33,4536196,2022-12-29 10:30:54,41,2022-12-29 12:44:25

###Criando colunas extras, derivadas de outros dados da planilha

In [ ]:
df_atendimentos['QT_ATEND_ANTERIOR'] = df_atendimentos.apply(lambda dados: qtd_atendimentos_anteriores(dados.CD_PACIENTE, dados.DH_ATENDIMENTO_INT), axis=1)

In [ ]:
df_atendimentos['QT_DIAS_INTERNACAO'] = df_atendimentos.DH_ALTA_INT - df_atendimentos.DH_ATENDIMENTO_INT

In [ ]:
df_atendimentos['QT_DIAS_INTERNACAO'].max()

Timedelta('175 days 12:10:37')

In [ ]:
df_atendimentos.head()

,CD_PACIENTE,CD_ATENDIMENTO_INT,DH_ATENDIMENTO_INT,CD_CONVENIO_INT,DH_ALTA_INT,CD_ATENDIMENTO_URG,DH_ATENDIMENTO_URG,CD_CONVENIO_URG,DH_ALTA_URG,QT_ATEND_ANTERIOR,QT_DIAS_INTERNACAO
0,3,3912301,2022-06-08 17:53:30,53,2022-06-09 15:00:00,3910658,2022-06-08 12:18:17,53,2022-06-08 17:50:49,0,0 days 21:06:30
1,1071,3462858,2022-01-09 22:58:17,5,2022-01-15 20:50:45,3462758,2022-01-09 20:47:51,5,2022-01-09 22:57:08,0,5 days 21:52:28
2,1520,4401673,2022-11-14 15:09:00,5,2022-11-16 17:07:54,4399386,2022-11-14 08:07:40,5,2022-11-14 14:59:00,0,2 days 01:58:54
3,3067,3523351,2022-01-27 21:34:00,48,2022-01-30 16:26:05,3522814,2022-01-27 16:32:54,48,2022-01-27 21:32:37,0,2 days 18:52:05
4,3935,4071446,2022-07-29 20:50:51,6,2022-08-04 14:20:00,4071254,2022-07-29 17:56:39,6,2022-07-29 20:46:45,0,5 days 17:29:09

### Iniciando a criação do Dataset de Predição

In [ ]:
df_orcamento = df_atendimentos.copy()

In [ ]:
df_convenios = le_planilha('convenios.csv')
df_convenios.head()

   Unnamed: 0  CD_CONVENIO TP_CONVENIO
0           0            3           C
1           1            5           C
2           2            7           C
3           3           11           C
4           4           14           C

In [ ]:
df_orcamento = df_orcamento.join(df_convenios.set_index(["CD_CONVENIO"]), on=["CD_CONVENIO_INT"], how="left")
df_orcamento.drop('Unnamed: 0', inplace=True, axis=COLUNA)

In [ ]:
df_orcamento_particular = df_orcamento[df_orcamento['TP_CONVENIO']=='P']
print('Registros: ',df_orcamento_particular.shape[0])
df_orcamento_particular.head()

Registros:  175

,CD_PACIENTE,CD_ATENDIMENTO_INT,DH_ATENDIMENTO_INT,CD_CONVENIO_INT,DH_ALTA_INT,CD_ATENDIMENTO_URG,DH_ATENDIMENTO_URG,CD_CONVENIO_URG,DH_ALTA_URG,QT_ATEND_ANTERIOR,QT_DIAS_INTERNACAO,TP_CONVENIO
151,314249,3680937,2022-03-27 03:07:47,40,2022-03-30 13:02:31,3680835,2022-03-26 21:52:44,40,2022-03-27 03:07:27,0,3 days 09:54:44,P
152,314249,4437003,2022-11-24 18:34:06,40,2022-12-01 13:00:38,4436559,2022-11-24 13:47:10,40,2022-11-24 18:26:03,1,6 days 18:26:32,P
169,321343,3689325,2022-03-29 18:35:16,40,2022-03-31 12:46:40,3688587,2022-03-29 14:58:21,40,2022-03-29 18:34:57,0,1 days 18:11:24,P
170,321343,3808480,2022-05-09 10:31:32,40,2022-05-20 15:40:00,3807077,2022-05-09 05:00:18,40,2022-05-09 10:27:58,1,11 days 05:08:28,P
276,362138,3788700,2022-05-02 19:39:00,40,2022-05-08 11:21:47,3787552,2022-05-02 14:20:52,40,2022-05-02 19:37:34,1,5 days 15:42:47,P

In [ ]:
df_orcamento_Convenio = df_orcamento[df_orcamento['TP_CONVENIO']=='C']
print('Registros: ',df_orcamento_Convenio.shape[0])
df_orcamento_Convenio.head()

Registros:  11949

,CD_PACIENTE,CD_ATENDIMENTO_INT,DH_ATENDIMENTO_INT,CD_CONVENIO_INT,DH_ALTA_INT,CD_ATENDIMENTO_URG,DH_ATENDIMENTO_URG,CD_CONVENIO_URG,DH_ALTA_URG,QT_ATEND_ANTERIOR,QT_DIAS_INTERNACAO,TP_CONVENIO,TOT_EXA_LAB
0,3,3912301,2022-06-08 17:53:30,53,2022-06-09 15:00:00,3910658,2022-06-08 12:18:17,53,2022-06-08 17:50:49,0,0 days 21:06:30,C,14.0
1,1071,3462858,2022-01-09 22:58:17,5,2022-01-15 20:50:45,3462758,2022-01-09 20:47:51,5,2022-01-09 22:57:08,0,5 days 21:52:28,C,17.0
2,1520,4401673,2022-11-14 15:09:00,5,2022-11-16 17:07:54,4399386,2022-11-14 08:07:40,5,2022-11-14 14:59:00,0,2 days 01:58:54,C,9.0
3,3067,3523351,2022-01-27 21:34:00,48,2022-01-30 16:26:05,3522814,2022-01-27 16:32:54,48,2022-01-27 21:32:37,0,2 days 18:52:05,C,18.0
4,3935,4071446,2022-07-29 20:50:51,6,2022-08-04 14:20:00,4071254,2022-07-29 17:56:39,6,2022-07-29 20:46:45,0,5 days 17:29:09,C,10.0

In [ ]:
df_atendime_convenios = df_orcamento.groupby('CD_CONVENIO_INT')['CD_ATENDIMENTO_INT'].count()

In [ ]:
filtro_convenio = list(df_atendime_convenios[df_atendime_convenios >= 175].index) #Convenios com quantidade de atendimento igualou superior aos do particular
df_orcamento_Convenio = df_orcamento_Convenio[df_orcamento_Convenio.CD_CONVENIO_INT.isin(filtro_convenio)]

,CD_PACIENTE,CD_ATENDIMENTO_INT,DH_ATENDIMENTO_INT,CD_CONVENIO_INT,DH_ALTA_INT,CD_ATENDIMENTO_URG,DH_ATENDIMENTO_URG,CD_CONVENIO_URG,DH_ALTA_URG,QT_ATEND_ANTERIOR,QT_DIAS_INTERNACAO,TP_CONVENIO,TOT_EXA_LAB
1,1071,3462858,2022-01-09 22:58:17,5,2022-01-15 20:50:45,3462758,2022-01-09 20:47:51,5,2022-01-09 22:57:08,0,5 days 21:52:28,C,17.0
2,1520,4401673,2022-11-14 15:09:00,5,2022-11-16 17:07:54,4399386,2022-11-14 08:07:40,5,2022-11-14 14:59:00,0,2 days 01:58:54,C,9.0
3,3067,3523351,2022-01-27 21:34:00,48,2022-01-30 16:26:05,3522814,2022-01-27 16:32:54,48,2022-01-27 21:32:37,0,2 days 18:52:05,C,18.0
6,5933,3759486,2022-04-22 22:17:00,8,2022-05-18 17:29:04,3758224,2022-04-22 12:09:44,8,2022-04-22 22:11:44,0,25 days 19:12:04,C,1.0
7,5933,4003535,2022-07-08 07:13:55,8,2022-07-15 17:57:27,4003268,2022-07-08 00:33:42,8,2022-07-08 06:49:53,1,7 days 10:43:32,C,19.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
12119,3427561,4535155,2022-12-28 22:50:50,9,2022-12-29 21:30:20,4535033,2022-12-28 19:59:37,9,2022-12-28 22:48:38,0,0 days 22:39:30,C,10.0
12120,3427881,4537955,2022-12-30 07:59:00,41,2023-01-02 11:13:34,4537665,2022-12-30 00:29:33,41,2022-12-30 07:57:37,0,3 days 03:14:34,C,22.0
12121,3427935,4539193,2022-12-30 15:49:43,13,2022-12-31 12:06:22,4538364,2022-12-30 09:58:58,13,2022-12-30 15:45:09,0,0 days 20:16:39,C,11.0
12122,3428038,4539402,2022-12-30 19:22:00,48,2023-01-01 12:14:21,4539393,2022-12-30 19:06:25,48,2022-12-30 19:20:23,0,1 days 16:52:21,C,14.0
12123,3428056,4540162,2022-12-31 17:29:29,7,2023-01-02 10:12:35,4540017,2022-12-31 13:29:42,7,2022-12-31 17:24:17,0,1 days 16:43:06,C,12.0

##Estudando os Exames solicitados

In [ ]:
df_exames_img = le_planilha('exames_imagem.csv')

In [ ]:
df_exames_lab = le_planilha('exames_laboratorio.csv')

In [ ]:
df_exames_lab.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 162461 entries, 0 to 162460
Data columns (total 14 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Unnamed: 0      162461 non-null  int64
 1   CD_PACIENTE     162461 non-null  int64
 2   NM_PACIENTE     162461 non-null  object
 3   CD_ATENDIMENTO  162461 non-null  int64
 4   CD_PED_LAB      162461 non-null  int64
 5   CD_SETOR        162461 non-null  int64
 6   CD_EXA_LAB      162461 non-null  int64
 7   NM_EXA_LAB      162461 non-null  object
 8   NM_MNEMONICO    162461 non-null  object
 9   CD_CONVENIO     162461 non-null  int64
 10  NM_CONVENIO     162461 non-null  object
 11  TP_SOLICITACAO  162461 non-null  object
 12  DT_COLETA       162461 non-null  object
 13  HR_COLETA       162461 non-null  object
dtypes: int64(7), object(7)
memory usage: 17.4+ MB

In [ ]:
df_exames_agrupado = df_exames_lab.groupby('CD_ATENDIMENTO')['CD_PACIENTE'].count()

In [ ]:
print('Total:',df_exames_agrupado.sum(), 'itens de', df_exames_agrupado.shape[0], 'pedidos', type(df_exames_agrupado))

Total: 162461 itens de 11235 pedidos <class 'pandas.core.series.Series'>

In [ ]:
df_exames_agrupado = pd.DataFrame(df_exames_agrupado)
df_exames_agrupado.columns = ['TOT_EXA_LAB']
df_exames_agrupado.head()

                TOT_EXA_LAB
CD_ATENDIMENTO
3439969                   1
3440083                  15
3440180                   4
3440192                   1
3440217                  33

In [ ]:
df_orcamento = pd.merge(df_orcamento, df_exames_agrupado, how="left", left_on='CD_ATENDIMENTO_URG', right_on='CD_ATENDIMENTO')
df_orcamento['TOT_EXA_LAB'].fillna(0, inplace = True)

In [ ]:
print(df_orcamento.isnull().sum())
df_orcamento.head()

CD_PACIENTE           0
CD_ATENDIMENTO_INT    0
DH_ATENDIMENTO_INT    0
CD_CONVENIO_INT       0
DH_ALTA_INT           0
CD_ATENDIMENTO_URG    0
DH_ATENDIMENTO_URG    0
CD_CONVENIO_URG       0
DH_ALTA_URG           0
QT_ATEND_ANTERIOR     0
QT_DIAS_INTERNACAO    0
TP_CONVENIO           0
TOT_EXA_LAB           0
dtype: int64

,CD_PACIENTE,CD_ATENDIMENTO_INT,DH_ATENDIMENTO_INT,CD_CONVENIO_INT,DH_ALTA_INT,CD_ATENDIMENTO_URG,DH_ATENDIMENTO_URG,CD_CONVENIO_URG,DH_ALTA_URG,QT_ATEND_ANTERIOR,QT_DIAS_INTERNACAO,TP_CONVENIO,TOT_EXA_LAB
0,3,3912301,2022-06-08 17:53:30,53,2022-06-09 15:00:00,3910658,2022-06-08 12:18:17,53,2022-06-08 17:50:49,0,0 days 21:06:30,C,14.0
1,1071,3462858,2022-01-09 22:58:17,5,2022-01-15 20:50:45,3462758,2022-01-09 20:47:51,5,2022-01-09 22:57:08,0,5 days 21:52:28,C,17.0
2,1520,4401673,2022-11-14 15:09:00,5,2022-11-16 17:07:54,4399386,2022-11-14 08:07:40,5,2022-11-14 14:59:00,0,2 days 01:58:54,C,9.0
3,3067,3523351,2022-01-27 21:34:00,48,2022-01-30 16:26:05,3522814,2022-01-27 16:32:54,48,2022-01-27 21:32:37,0,2 days 18:52:05,C,18.0
4,3935,4071446,2022-07-29 20:50:51,6,2022-08-04 14:20:00,4071254,2022-07-29 17:56:39,6,2022-07-29 20:46:45,0,5 days 17:29:09,C,10.0

In [ ]:
df_exa_img_agrupado = df_exames_img.groupby(['CD_ATENDIMENTO'])['CD_ATENDIMENTO'].count()
print('Total:', df_exa_img_agrupado.sum(), 'itens de', df_exa_img_agrupado.shape[0], 'pedidos imagem')

Total: 18133 itens de 9238 pedidos imagem

In [ ]:
df_exa_img_agrupado = pd.DataFrame(df_exa_img_agrupado)
df_exa_img_agrupado.columns = ['TOT_EXA_IMG']

In [ ]:
df_orcamento = pd.merge(df_orcamento, df_exa_img_agrupado, how="left", left_on='CD_ATENDIMENTO_URG', right_on='CD_ATENDIMENTO')
print('Antes:', df_orcamento.TOT_EXA_IMG.isnull().sum())
df_orcamento['TOT_EXA_IMG'].fillna(0, inplace = True)
print('Depois:', df_orcamento.TOT_EXA_IMG.isnull().sum())

ValueError: ignored

In [ ]:
print(df_orcamento.isnull().sum())
df_orcamento.head()

Unnamed: 0            0
CD_PACIENTE           0
CD_ATENDIMENTO_INT    0
DH_ATENDIMENTO_INT    0
DH_ALTA_INT           0
CD_ATENDIMENTO_URG    0
DH_ATENDIMENTO_URG    0
DH_ALTA_URG           0
QT_ATEND_ANTERIOR     0
QT_DIAS_INTERNACAO    0
TOT_EXA_LAB           0
TOT_EXA_IMG           0
dtype: int64

,Unnamed: 0,CD_PACIENTE,CD_ATENDIMENTO_INT,DH_ATENDIMENTO_INT,DH_ALTA_INT,CD_ATENDIMENTO_URG,DH_ATENDIMENTO_URG,DH_ALTA_URG,QT_ATEND_ANTERIOR,QT_DIAS_INTERNACAO,TOT_EXA_LAB,TOT_EXA_IMG
0,0,3,3912301,2022-06-08 17:53:30,2022-06-09 15:00:00,3910658,2022-06-08 12:18:17,2022-06-08 17:50:49,0,0 days 21:06:30,14.0,1.0
1,1,1071,3434918,2021-12-29 16:09:31,2021-12-30 14:00:00,3434615,2021-12-29 14:38:59,2021-12-29 16:07:52,0,0 days 21:50:29,13.0,3.0
2,2,1071,3462858,2022-01-09 22:58:17,2022-01-15 20:50:45,3462758,2022-01-09 20:47:51,2022-01-09 22:57:08,1,5 days 21:52:28,17.0,2.0
3,3,1520,4401673,2022-11-14 15:09:00,2022-11-16 17:07:54,4399386,2022-11-14 08:07:40,2022-11-14 14:59:00,0,2 days 01:58:54,9.0,1.0
4,4,3067,3523351,2022-01-27 21:34:00,2022-01-30 16:26:05,3522814,2022-01-27 16:32:54,2022-01-27 21:32:37,0,2 days 18:52:05,18.0,2.0

###Contas de Urgencia

In [ ]:
df_contas_urg = le_planilha('total_conta_urgencia.csv')

In [ ]:
df_contas_urg.drop('Unnamed: 0', inplace=True, axis=1)
df_contas_urg.columns = ['CD_ATENDIMENTO','VL_TOTAL_CONTA_URG']
print(df_contas_urg.shape)

(12241, 2)

In [ ]:
df_contas_urg_compl = le_planilha('conta_urg_compl.csv', separador=";")
df_contas_urg_compl.columns = ['CD_ATENDIMENTO','VL_TOTAL_CONTA_URG']
print(df_contas_urg_compl.shape)

(51, 2)

In [ ]:
df_contas_urg.append(df_contas_urg_compl, ignore_index=True)

       CD_ATENDIMENTO VL_TOTAL_CONTA_URG
0             3369884             962.52
1             3370140            1510.66
2             3370439            1492.04
3             3370502            2572.54
4             3370522            1397.78
...               ...                ...
12287         4424927            1178.03
12288         4430504             663.72
12289         4434107             963.91
12290         4454950            1541.92
12291         4455996            1474.68

[12292 rows x 2 columns]

In [ ]:
df_atend_dup = df_contas_urg.groupby('CD_ATENDIMENTO').count() >1
df_atend_dup.columns = ['TOTAL'] 
df_atend_dup[df_atend_dup['TOTAL']]

Empty DataFrame
Columns: [TOTAL]
Index: []

In [ ]:
df_orcamento = pd.merge(df_orcamento, df_contas_urg, how="left", left_on='CD_ATENDIMENTO_URG', right_on='CD_ATENDIMENTO')
print('Antes:', df_orcamento.VL_TOTAL_CONTA_URG.isnull().sum())

Antes: 100

In [ ]:
df_orcamento.VL_TOTAL_CONTA_URG.fillna(0, inplace=True)
df_orcamento['VL_TOTAL_CONTA_URG'] = df_orcamento['VL_TOTAL_CONTA_URG'].astype(float)
df_orcamento[df_orcamento.VL_TOTAL_CONTA_URG==0].shape

(103, 14)

In [ ]:
filtro  = df_orcamento.VL_TOTAL_CONTA_URG > 0
df_orcamento = df_orcamento[filtro]
df_orcamento.head()

,Unnamed: 0,CD_PACIENTE,CD_ATENDIMENTO_INT,DH_ATENDIMENTO_INT,DH_ALTA_INT,CD_ATENDIMENTO_URG,DH_ATENDIMENTO_URG,DH_ALTA_URG,QT_ATEND_ANTERIOR,QT_DIAS_INTERNACAO,TOT_EXA_LAB,TOT_EXA_IMG,CD_ATENDIMENTO,VL_TOTAL_CONTA_URG
0,0,3,3912301,2022-06-08 17:53:30,2022-06-09 15:00:00,3910658,2022-06-08 12:18:17,2022-06-08 17:50:49,0,0 days 21:06:30,14.0,1.0,3910658.0,1790.06
1,1,1071,3434918,2021-12-29 16:09:31,2021-12-30 14:00:00,3434615,2021-12-29 14:38:59,2021-12-29 16:07:52,0,0 days 21:50:29,13.0,3.0,3434615.0,1580.47
2,2,1071,3462858,2022-01-09 22:58:17,2022-01-15 20:50:45,3462758,2022-01-09 20:47:51,2022-01-09 22:57:08,1,5 days 21:52:28,17.0,2.0,3462758.0,1052.00
3,3,1520,4401673,2022-11-14 15:09:00,2022-11-16 17:07:54,4399386,2022-11-14 08:07:40,2022-11-14 14:59:00,0,2 days 01:58:54,9.0,1.0,4399386.0,1122.32
4,4,3067,3523351,2022-01-27 21:34:00,2022-01-30 16:26:05,3522814,2022-01-27 16:32:54,2022-01-27 21:32:37,0,2 days 18:52:05,18.0,2.0,3522814.0,956.00

In [ ]:
df_orcamento.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12058 entries, 0 to 12160
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          12058 non-null  int64
 1   CD_PACIENTE         12058 non-null  int64
 2   CD_ATENDIMENTO_INT  12058 non-null  int64
 3   DH_ATENDIMENTO_INT  12058 non-null  datetime64[ns]
 4   DH_ALTA_INT         12058 non-null  datetime64[ns]
 5   CD_ATENDIMENTO_URG  12058 non-null  int64
 6   DH_ATENDIMENTO_URG  12058 non-null  datetime64[ns]
 7   DH_ALTA_URG         12058 non-null  datetime64[ns]
 8   QT_ATEND_ANTERIOR   12058 non-null  int64
 9   QT_DIAS_INTERNACAO  12058 non-null  timedelta64[ns]
 10  TOT_EXA_LAB         12058 non-null  float64
 11  TOT_EXA_IMG         12058 non-null  float64
 12  CD_ATENDIMENTO      12058 non-null  float64
 13  VL_TOTAL_CONTA_URG  12058 non-null  float64
dtypes: datetime64[ns](4), float64(4), int64(5), timedelta64[ns](1)
memory usage: 1.4 MB

In [ ]:
df_contas_internacao = le_planilha('contas_internacao.csv')

In [ ]:
df_contas_internacao['VL_TOTAL_CONTA'] = df_contas_internacao['VL_TOTAL_CONTA'].astype(float)
df_contas_internacao.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23040 entries, 0 to 23039
Data columns (total 6 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Unnamed: 0                      23040 non-null  int64
 1   CD_ATENDIMENTO                  23040 non-null  int64
 2   CD_PRESTADOR                    23040 non-null  int64
 3   CD_CONVENIO                     23040 non-null  int64
 4   CD_PRO_INT_PROCEDIMENTO_ENTRAD  23040 non-null  int64
 5   VL_TOTAL_CONTA                  23040 non-null  float64
dtypes: float64(1), int64(5)
memory usage: 1.1 MB

In [ ]:
df_conta_int_agg = df_contas_internacao.groupby(['CD_ATENDIMENTO'])['VL_TOTAL_CONTA'].sum()
df_conta_int_agg.head()

CD_ATENDIMENTO
3365919     14074.54
3365926    129266.26
3366563     37738.07
3367176     13900.69
3367193     24065.06
Name: VL_TOTAL_CONTA, dtype: float64

In [ ]:
#Existem contas de convênios diferentes?
df_conta_int_conv = df_contas_internacao.groupby(['CD_ATENDIMENTO'])['CD_CONVENIO'].count()
df_conta_int_conv.head()

CD_ATENDIMENTO
3365919    3
3365926    4
3366563    2
3367176    1
3367193    3
Name: CD_CONVENIO, dtype: int64

In [ ]:
df_contas_internacao[df_contas_internacao['CD_ATENDIMENTO']==3365919]

,Unnamed: 0,CD_ATENDIMENTO,CD_PRESTADOR,CD_CONVENIO,CD_PRO_INT_PROCEDIMENTO_ENTRAD,VL_TOTAL_CONTA
15527,15527,3365919,556,5,10102019,12572.04
15528,15528,3365919,556,40,10102019,25.00
15529,15529,3365919,556,40,10102019,1477.50

In [ ]:
print(df_conta_int_agg.shape)
df_conta_int_agg.head()

(11849,)

CD_ATENDIMENTO
3365919     14074.54
3365926    129266.26
3366563     37738.07
3367176     13900.69
3367193     24065.06
Name: VL_TOTAL_CONTA, dtype: float64

In [ ]:
df_convenios[(df_convenios.CD_CONVENIO==5) | (df_convenios.CD_CONVENIO==40)]

    Unnamed: 0  CD_CONVENIO TP_CONVENIO
1            1            5           C
65          65           40           P